<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         version="3.1">
  <servlet>
    <servlet-name>AddPetServlet</servlet-name>
    <servlet-class>com.petcare.servlet.AddPetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPetServlet</servlet-name>
    <url-pattern>/AddPetServlet</url-pattern>
  </servlet-mapping>

  <!-- Repeat mappings for AddActivityServlet, ReminderCheckServlet, UpdateStatusServlet, etc. -->
</web-app>
